.element__like {
  position: absolute;
  bottom: 25px;
  right: 20px;
  margin: 0;
  padding: 0;
  max-width: 22px;
  min-height: 19px;
}

.element__like:hover {
  opacity: 50%;
}

.element__like:active {
  fill: black;
}

.element__like:visited {
  fill: black;
}
