.profile__edit-button {
  align-items: center;
  background-image: url("../../../images/Edit\ Button.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  opacity: 100%;
  display: flex;
  justify-content: center;
  margin-left: 19px;
  margin-top: 37px;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 50%;
}

@media (max-width: 320px) {
  .profile__edit-button {
    position: absolute;
    top: 300px;
    right: 20px;
    margin-left: 9px;
    margin-top: 34px;
    align-self: flex-end;
    justify-self: flex-start;
  }
}
