.profile {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .profile {
    align-items: center;
    flex-direction: column;
  }
}
