.profile__subtitle {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 336px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .profile__subtitle {
    text-align: center;
    font-size: 14px;
    margin-left: 3px;
  }
}
