.profile__add-button {
  width: 150px;
  height: 50px;
  padding-top: 35px;
  justify-self: flex-end;
  align-self: center;
  margin-left: 0;
  background-image: url("../../../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 50%;
}

@media (max-width: 320px) {
  .profile__add-button {
    height: 50px;
    margin-top: 33px;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
  }
}
