.profile__edit-button {
  align-items: center;
  background-image: url("../../../images/edit_button.svg");
  background-position: center;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  margin-left: 19px;
  margin-top: 37px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .profile__edit-button {
    margin-left: 14px;
  }
}

@media (max-width: 600px) {
  .profile__edit-button {
    margin-left: 9px;
    margin-top: 45px;
    height: 18px;
    width: 18px;
  }
}

@media (max-width: 460px) {
  .profile__edit-button {
    justify-self: start;
    align-self: start;
    margin-left: 9px;
    margin-top: 37px;
  }
}
