.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  background: #c4c4c4;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card__image:hover {
  cursor: pointer;
}
