.card__like {
  background-image: url("../../../images/like-disabled.svg");
  border: none;
  background-color: transparent;
  width: 22px;
  height: 19px;
  cursor: pointer;
}

.card__like:hover {
  opacity: 50%;
}
