.footer {
  width: 318px;
  height: 18px;
  color: #545454;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 60px;
  padding-top: 67px;
}
