.card__like-amount {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.73px;
  margin-right: 20px;
}
